.float {
  position: absolute;
  top: 0;
  padding: 100px;
  right: 0;
  height: 90%;
  width: auto;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}
.code {
  margin: 0;
  white-space: pre;
}
